<!-- app/templates/admin/catalog.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ByTaiwan - CreateOrder{% endblock %}

{% block head %}
	{{ super() }}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
<script type="text/javascript">

$(document).ready(function()
{
    $("selest1").on("input", function(){
      alert("CHANGED");
    });
    
    $("selest2").on("input", function(){
      alert("CHANGED");
    });
    $("tour_guide").on("change", function(){
        alert("CHANGED");
    });
    
});
</script>
{% endblock %}

{% block page_content %}
<div class="page-header">

<a href="{{ url_for('main.index') }}" class="previous">&laquo; Previous</a>
</div>
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-center-block">

<img src="{{ url_for('static', filename='img/price_list.jpg') }}" class="img-responsive center-block" style="width:100%">
    <p></p>
	<p></p>

<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.car_type) }}
  {{ wtf.form_field(form.tour_type) }}
  {{ wtf.form_field(form.tour_guide) }}
  <p>
  <p>
  <span>Total:<input type="text" name="total" value="0" readonly></span><span>
  <p>
  <p>
  {{ form.submit(class="btn btn-default") }}
</form>

</div>
</div>
{% endblock %}