/* Ubermelon Shopping Cart Homepage */

/* The body has an iamge that spans the entire size of the page.
   Everything is centered and in white. */

body {
    background: #333 url("/static/img/image_2.jpg");
    background-size: cover;

    color: white;
    text-align: center;
}

.shadow {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

/* The footer always appears at the bottom of the browser window. */

.footer {
    /* 設定footer的高度 */
    height: 100px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: relative;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
 }