<!-- app/templates/product/all_products.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - All_Products{% endblock %}

{% block body %}
    <h2>Top Selling Products</h2>

    <div id="product-list" class="row">
      {% for product in product_list %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 product-summary">

              <div class="well">
                  <h3><a href="/product/{{ product.id }}">{{ product.common_name }}</a></h3>
                  <a href="/product/{{ product.id }}">
                      <img src="{{ product.imgurl }}" class="img-circle">
                  </a>

                  <div class="price">{{ product.price_str() }}</div>
                  <a class="btn btn-primary" href="/product/{{ product.id }}">Details</a>
              </div>

          </div>
      {% endfor %}
    </div>

{% endblock %}
