<!-- app/templates/product/all_products.html -->

{% extends "base.html" %}

{% block title %}ByTaiwan - All Product{% endblock %}

{% block page_content %}
<div class="page-header">
	{% if catalog_id %}
    <h2>{{catalogs[catalog_id - 1]}}</h2>
    {% else %}
    <h2>All Catalog</h2>
	{% endif %}
</div>
    <div id="product-list" class="row">
      {% for product in product_list %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 product-summary">

              <div class="well">
                  <h3><a href="/product/{{ product.id }}">{{ product.common_name }}</a></h3>
                  <a href="/product/{{ product.id }}">
                      <img src ="{{ url_for('static', filename='product/images/'+  product.imgurl) }}" class="img-circle img-responsive center-block"">
                  </a>

                  <div class="price">Price : ${{ product.price_str() }}</div>
                  <a class="btn btn-primary" href="/product/{{ product.id }}">Details</a>
              </div>

          </div>
      {% endfor %}
    </div>

{% endblock %}
