<!-- app/templates/product/cart.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block title %}ByTaiwan - Cart{% endblock %}

{% block page_content %}
		<a href="/product/clean" class="btn btn-large btn-primary">Clean Cart</a>
		<a href="{{ url_for('product.shopping_order') }}" class="btn btn-large btn-primary">Orders</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {%if cart %}
        {% for order in cart %}
        <tr>
        	<td><a href="/product/remove_from_cart/{{ order[0] }}" class="glyphicon glyphicon-trash"></a></td>
            <td>{{ order[0] }}</td>
            <td>${{ order[2] }}</td>
            <td>{{ order[1] }}</td>
            <td>${{ order[3] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No items in cart.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="well text-center">
			  <form action="/product/stripecharge" method="post">
			    <article>
			      <label>
			        <span>Amount is ${{total}}</span>
			      </label>
			    </article>
			    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			            data-key={{ publishkey }}
			            data-description="ByTaiwan Payment"
			            data-amount={{total * 100}}
			            data-locale="auto"></script>
			  </form>
			</div>
		</div>
{% endblock %}
