<!-- app/templates/product/cart.html -->

{% extends "base.html" %}

{% block title %}Flasky - Cart{% endblock %}

{% block page_content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {%if cart %}
        {% for order in cart %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>${{ order[3] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No items in cart.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
    <a href="/product/products" class="btn btn-large btn-primary">Keep Shopping</a>
    <a href="/product/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
