<!-- app/templates/product/order.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block title %}TeaAsia - Order{% endblock %}

{% block page_content %}
        <h1 style="text-align:center;">Orders</h1>
        <a href="{{ url_for('product.shopping_cart') }}" class="btn btn-large btn-primary">Cart</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order_ID</th>
            <th>PaymentID_PayerID</th>
            <th>Paypal_Status</th>
            <th>Order_Time</th>
            <th>Total</th>
            <th>Shipout</th>
        </tr>
    </thead>
    <tbody>
        {%if orders.all() %}
        {% for order in orders %}
        <tr>
            <td><a href="/product/order_detail/{{ order.id }}">{{ order.id }}</a></td>
            <td>{{ order.paypal_id }}</td>
            {% if order.status  %}
            <td>Success</td>
            {% else %}
            <td>Fail</td>
            {% endif %}
            <td>{{ (order.order_datetime).strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>${{ order.total }}</td>
            {% if order.shipout  %}
            <td>Shipout</td>
            {% else %}
            <td>Didn't shipout</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No orders.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
