{% extends 'base.html' %}
{% block title %}ByTaiwan - Product Detial{% endblock %}

{% block page_content %}
    <h2>Product : {{ display_product.common_name }}</h2>
    <div class="row">

    <div class="col-sm-8 col-md-8 col-lg-8">
        <img src="/static/product/images/{{ display_product.imgurl }}" class="img-thumbnail" alt="Responsive image" >
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

        <div class="row">
          <ul>
            <p><h2><li>Product type: {{ display_product.product_type }}</li></h2></p>
            <p><h2><li>Color: {{ display_product.color }}</li></h2></p>
            <p><h2><li>Size: {{ display_product.size }}</li></h2></p>
            {% if display_product.available %}
              <p><h2><li>Status : In stock</li></h2></p>
            {% else %}
              <p><li class='warning'>Warning! This product was no in stock.</li></p>
            {% endif %}
          </ul>
          </div>
            <div class="row">
                <div class="well">
                <h3>Price per package</h3>
                <p> ${{ display_product.price_str() }} </p>

                <form action="/product/add_to_cart/{{ display_product.id }}">
                    <label>
                        <input type="number" name="qty" value="1" min="1" max="10">
                    </label>
                    <label>
                        <input type="submit" class="btn btn-large btn-primary" value="Add to Cart">
                    </label>
                </form>
                </div>
    </div>
{% endblock %}
