<!-- app/templates/index.html -->

{% extends "base.html" %}

{% block title %}ByTaiwan{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>
	<script type="text/javascript">
$(document).ready(function(){
    // Activate carousel
    $("#myCarousel").carousel();
    
    // Enable carousel control
	$(".left").click(function(){
    	$("#myCarousel").carousel('prev');
    });
    $(".right").click(function(){
    	$("#myCarousel").carousel('next');
    });
    
    // Enable carousel indicators
    $(".slide-one").click(function(){
    	$("#myCarousel").carousel(0);
    });
    $(".slide-two").click(function(){
    	$("#myCarousel").carousel(1);
    });
    $(".slide-three").click(function(){
    	$("#myCarousel").carousel(2);
    });
    $(".slide-four").click(function(){
    	$("#myCarousel").carousel(3);
    });
	$(".slide-five").click(function(){
		$("#myCarousel").carousel(4);
    });
});
</script>
{% endblock %}

{% block page_content %}
		
<div class="page-header">
    <h2 class="shadow">Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h2>
</div>
<div class="row">
	<div class="bs-example">
	    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
	    	<!-- Carousel indicators -->
	        <ol class="carousel-indicators">
	            <li class="slide-one active"></li>
	            <li class="slide-two"></li>
	            <li class="slide-three"></li>
	            <li class="slide-four"></li>
	            <li class="slide-five"></li>
	        </ol>   
	        <!-- Wrapper for carousel items -->
	        <div class="carousel-inner">
	        {% for story in stories%}
	        	{% if stories.index(story) == 0 %}
	            <div class="active item">
	            {% else%}
	            <div class="item">
	            {% endif %}
	                <img src="{{ url_for('static', filename='story/images/'+ story.imgurl) }}" class="img-responsive center-block" style="width:100%" alt={{story.author}}>
	         		<div class="carousel-caption">
	                  <h3>Title : {{story.title}}</h3>
	                  <p>Location : {{story.location}}</p>
	                </div>
	            </div>
			{% endfor %}
	        </div>
	        <!-- Carousel controls -->
	        <a class="carousel-control left">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	        </a>
	        <a class="carousel-control right">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	        </a>
	    </div>
	</div>
	<p>
</div>

<div class="row">
	<div class="col-xs-6">
		<p>Line Bot</p>
		<div style='border-bottom:1px solid #ccc;'></div>
			<li>
			<li>
			<li>
			<li>
			<li>
			<li>
	
	</div>
	<div class="col-xs-6">
		<p>Line Bot</p>
		<div style='border-bottom:1px solid #ccc;'></div>
			<li>
			<li>
			<li>
			<li>
			<li>
			<li>
	
	</div>
</div>
<div class="row">
	<div class="col-xs-8">
		<p>Message List</p>
			<div style='border-bottom:1px solid #ccc;'></div>
			<li>
			<li>
			<li>
			<li>
			<li>
			<li>
	</div>
	<div class="col-xs-4">
		<p>Post Message</p>
			<div style='border-bottom:1px solid #ccc;'></div>
			<li>
			<li>
			<li>
			<li>
			<li>
			<li>
	</div>
</div>

<div class="row">
	<div class="col-xs-4">
	<p>Product</p>
		<div style='border-bottom:1px solid #ccc;'></div>
		<li>
		<li>
		<li>
		<li>
		<li>
		<li>
	</div>

	<div class="col-xs-4">
	<p>Product</p>
		<div style='border-bottom:1px solid #ccc;'></div>
		<li>
		<li>
		<li>
		<li>
		<li>
		<li>
	</div>
	<div class="col-xs-4">
	<p>Product</p>
		<div style='border-bottom:1px solid #ccc;'></div>
		<li>
		<li>
		<li>
		<li>
		<li>
		<li>
	</div>
</div>


<div class="row">
	<div class="footer text-center">
	<div style='border-bottom:1px solid #ccc;'></div>
	    <p></p>
		<p></p>
		<p>Copyright ByTaiwan 2018. All rights reserved.</p>
		<p>eMail : bytaiwan5812@gmail.com</p>
	</div>
</div>
{% endblock %}